.task-card {
  width: 100%;
  min-height: 100px;
  background-color: #292929;
  color: #fff;
  border-radius: 5px;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-card__text {
  width: 80%;
  word-break: break-word;
}

.task-card__content {
  display: flex;
  justify-content: space-between;
}
.task-card__user-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.user-info__username {
  font-size: 14px;
}
.user-info__email {
  font-size: 12px;
}

.btn--edit {
  background-color: transparent !important;
  padding: 5px !important;
  margin-right: 5px;
}

.new-task-text {
  width: 80%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}